.vscode/**
.vscode-test/**
.github/**
artifacts/**
out/**
!out/extension.js
src/**
nodejs-package/**
.gitignore
.vscodeignore
tsconfig.json
tsconfig.node-package.json
package-lock.json
vsc-extension-quickstart.md
instructions/**
GUIDELINE.md
guideline.md
changelog.md
assets/**
!assets/markdown-them-logo.png
node_modules/**
*.env
